*.so
*.a
libs/

.gradle/
android/.gradle/
android/gradle/
android/build/
android/app/build/
android/local.properties
android/GeneratedPluginRegistrant.java
android/app/src/main/assets

envvars.sh
.env
.env.*

.DS_Store
Thumbs.db
.idea/
.vscode/
*.iml